{{#page.highlighted}}
    {{{page.highlighted}}}
{{/page.highlighted}}
{{#page.help}}
    {{{page.help}}}
{{/page.help}}
{{#tabs}}
    {{{tabs}}}
{{/tabs}}
{{#page.content}}
    {{{page.content}}}
{{/page.content}}

{{#page.footer}}
    {{{page.footer}}}
{{/page.footer}}