{{#story_card_four_up}}
&lt;div class=&quot;g-wrap {{#pager}}ajax-content{{/pager}}&quot;&gt;
  &lt;div class=&quot;g-group {{#pager}}ajax-content{{/pager}}&quot;&gt;
    {{#accent_header}}
      {{&gt; molecules-accent-header }}
    {{/accent_header}}
    &lt;div class=&quot;g-wrap__flex-wrap&quot;&gt;
      {{#items}}
        &lt;div class=&quot;g-span-xs-12 g-span-sm-3&quot;&gt;
          {{&gt; organisms-story-card }}
        &lt;/div&gt;
      {{/items}}
    &lt;/div&gt;
    {{#cta}}
      &lt;a href=&quot;{{url}}&quot; class=&quot;btn btn--centered btn--arrow&quot;&gt;{{text}}&lt;/a&gt;
    {{/cta}}
  &lt;/div&gt;
&lt;/div&gt;
{{#pager}}
  &lt;div class=&quot;pager__wrap&quot;&gt;
    {{&gt; organisms-pager }}
  &lt;/div&gt;
{{/pager}}

{{#load_more}}
  &lt;div class=&quot;load-more__wrap&quot;&gt;
    &lt;a href=&quot;{{load_more_url}}&quot; class=&quot;load-more&quot;&gt;
      &lt;span class=&quot;load-more__text no-toggle&quot;&gt;{{load_more_text}}&lt;/span&gt;
    &lt;/a&gt;
  &lt;/div&gt;
{{/load_more}}
{{/story_card_four_up}}