{{#story_card_four_up}}
&lt;div class=&quot;g-wrap&quot;&gt;
  {{#accent_header}}
    {{&gt; molecules-accent-header }}
  {{/accent_header}}

  {{#items}}
    &lt;div class=&quot;g-span xs-12 g-span-sm-3&quot;&gt;
      {{&gt; organisms-story-card }}
    &lt;/div&gt;
  {{/items}}

  {{#cta}}
    &lt;a href=&quot;{{url}}&quot; class=&quot;btn btn--centered&quot;&gt;{{text}}&lt;/a&gt;
  {{/cta}}
&lt;/div&gt;
{{/story_card_four_up}}