&lt;!DOCTYPE html&gt;
&lt;html&gt;

&lt;head&gt;
  &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
  {{{head}}}
  &lt;title&gt;{{head_title}}&lt;/title&gt;
  {{{styles}}}
  {{{scripts}}}
&lt;/head&gt;
&lt;body class=&quot;{{classes}}&quot; {{html_attributes}}&gt;
{{{page_top}}}
{{{page}}}
{{{page_bottom}}}
&lt;/body&gt;
&lt;/html&gt;