{{#homepage_section}}

{{^is_full_width?}}
&lt;div class=&quot;page-container&quot;&gt;
  &lt;div class=&quot;section homepage-section&quot;&gt;
      {{&gt; organisms-homepage-topstories }}
      {{&gt; organisms-content-spotlight }}
      {{&gt; organisms-homepage-category }}
      {{&gt; organisms-featured-social }}
      {{&gt; organisms-simple-story-card-four-up }}
  &lt;/div&gt;
&lt;/div&gt;
{{/is_full_width?}}

{{#is_full_width?}}
  {{&gt; atoms-full-width-ad }}
  {{&gt; organisms-featured-topic }}
{{/is_full_width?}}

{{/homepage_section}}
