{{#site_header}}
&lt;div class=&quot;site-nav__wrap&quot;&gt;
  &lt;div class=&quot;site-nav&quot;&gt;

    &lt;div class=&quot;visible-lg site-nav__headboard show-at-md&quot;&gt;
      &lt;div class=&quot;page-container&quot;&gt;
        &lt;div class=&quot;site-nav__block site-nav__block--left&quot;&gt;
          {{&gt; molecules-social-outbound }}
        &lt;/div&gt;
        &lt;a href=&quot;{{home_url}}&quot; class=&quot;site-nav__block site-nav__headboard-brand&quot;&gt;
          &lt;svg class=&quot;site-nav__brand-logo&quot; viewBox=&quot;0 0 134 27&quot;&gt;
            &lt;use xlink:href='{{path_to_symbols}}#icon-essence-logo--slideout'&gt;&lt;/use&gt;
          &lt;/svg&gt;
        &lt;/a&gt;
        {{#subscribe}}
        &lt;div class=&quot;site-nav__block--right site-nav__block--full-height&quot;&gt;
          &lt;div class=&quot;headboard-subscribe&quot;&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        {{/subscribe}}
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;site_nav__sticky-spacer&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;site-nav__brand-bar&quot; data-js-component=&quot;stickyToTop&quot;&gt;
      &lt;div class=&quot;page-container&quot;&gt;
        &lt;div class=&quot;site-nav__block site-nav__menu-btn-wrap&quot;&gt;
          &lt;div class=&quot;site-nav__menu-btn&quot; data-js-component=&quot;enableMenu&quot; data-active-state=&quot;site-nav__menu-btn--is-active&quot;&gt;
            &lt;div class=&quot;site-nav__menu-icon&quot;&gt;
              &lt;span class=&quot;site-nav__menu-bar&quot;&gt;&lt;/span&gt;
              &lt;span class=&quot;site-nav__menu-bar&quot;&gt;&lt;/span&gt;
              &lt;span class=&quot;site-nav__menu-bar&quot;&gt;&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;a href=&quot;/&quot; class=&quot;site-nav__brand&quot;&gt;
          &lt;svg class=&quot;site-nav__brand-logo&quot; viewBox=&quot;0 0 134 27&quot;&gt;
            &lt;use xlink:href='{{path_to_symbols}}#icon-essence-logo--slideout'&gt;&lt;/use&gt;
          &lt;/svg&gt;
        &lt;/a&gt;

        {{#nav_menu}}
        &lt;nav class=&quot;site-nav__main-nav&quot; data-js-component=&quot;expandNavMenu&quot; data-sub-menu-target=&quot;#expanded-menu&quot;&gt;
          &lt;ul class=&quot;site-nav__main-nav-list list-unstyled&quot;&gt;
            {{#items}}
            &lt;li class=&quot;site-nav__main-nav-list-item&quot;&gt;
              &lt;a class=&quot;site-nav__main-nav-link&quot; id=&quot;{{id}}&quot;  href=&quot;{{url}}&quot; {{#has_expanded_menu?}} data-menu=&quot;has-menu&quot; {{/has_expanded_menu?}}&gt;{{title}}&lt;/a&gt;
            &lt;/li&gt;
            {{/items}}
          &lt;/ul&gt;
        &lt;/nav&gt;
        {{/nav_menu}}

        &lt;div class=&quot;site-nav__block site-nav__utility-links&quot;&gt;
          &lt;span class=&quot;site-nav__utility-links--desktop-items&quot;&gt;
            &lt;div class=&quot;etr-dropdown site-nav__utility-links-item hidden-xs hidden-lg subscription-link&quot; data-js-component=&quot;dropdownToggle&quot; data-trigger=&quot;#subscribe-dropdown-trigger&quot; data-active-class=&quot;etr-dropdown--is-open&quot; data-toggle-class=&quot;etr-dropdown__group--is-open&quot;&gt;
              &lt;a href=&quot;#&quot; id=&quot;subscribe-dropdown-trigger&quot;&gt;
                &lt;span class=&quot;site-nav__utility-links-item__link&quot;&gt;Subscribe&lt;/span&gt;
              &lt;/a&gt;
              {{#subscribe_dropdown}}
              &lt;div class=&quot;etr-dropdown__group&quot;&gt;
                {{#items}}
                &lt;a class=&quot;etr-dropdown__group-link&quot; href=&quot;{{url}}&quot;&gt;{{text}}&lt;/a&gt;
                {{/items}}
              &lt;/div&gt;
              {{/subscribe_dropdown}}
            &lt;/div&gt;
            &lt;div class=&quot;etr-dropdown site-nav__utility-links-item hidden-xs&quot; data-js-component=&quot;dropdownToggle&quot; data-trigger=&quot;#dropdown-follow-us&quot; data-active-class=&quot;etr-dropdown--is-open&quot; data-toggle-class=&quot;etr-dropdown__group--is-open&quot;&gt;
              &lt;a href=&quot;javascript:void(0);&quot; class=&quot;&quot; id=&quot;dropdown-follow-us&quot;&gt;
                &lt;span class=&quot;site-nav__utility-links-item__link&quot;&gt;Follow Us&lt;/span&gt;
              &lt;/a&gt;
              &lt;div class=&quot;hidden-xs etr-dropdown__group etr-dropdown__group--lg etr-dropdown__group--centered&quot;&gt;
                {{&gt; molecules-social-outbound}}
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/span&gt;
          &lt;a href=&quot;#&quot; class=&quot;site-nav__utility-links-item hidden-xs site-nav__search&quot; data-js-component=&quot;enableSearchOverlay&quot; data-active-class=&quot;site-nav__search--is-active&quot;&gt;
            &lt;svg class=&quot;site-nav__search-icon&quot; viewBox=&quot;0 0 20 18&quot;&gt;
              &lt;use xlink:href='{{path_to_symbols}}#icon-search'&gt;&lt;/use&gt;
            &lt;/svg&gt;&lt;span class=&quot;site-nav__utility-links-item__link&quot;&gt;Search&lt;/span&gt;
          &lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      {{#expanded_menus}}
      &lt;div class=&quot;expanded-menu&quot; id=&quot;expanded-menu&quot;&gt;
        &lt;div class=&quot;page-container&quot;&gt;
          &lt;div class=&quot;row&quot;&gt;
            {{#menus}}
            &lt;div class=&quot;expanded-menu__menu-section&quot; data-menu-id=&quot;{{id}}&quot;&gt;
              {{#featured_content}}
              &lt;div class=&quot;expanded-menu__menu-section__featured&quot;&gt;
                &lt;article class=&quot;media media__top media__featured media__has-video module-name-etr_menu_expanded_large_tout&quot;&gt;
                  &lt;a href=&quot;{{url}}&quot;&gt;
                    &lt;div class=&quot;media-left media-left__img-wrap&quot;&gt;
                      &lt;img src=&quot;{{img}}&quot; /&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;media-body&quot;&gt;
                      &lt;span class=&quot;media-category&quot;&gt;{{category}}&lt;/span&gt;
                      &lt;h2 class=&quot;media-heading&quot;&gt;{{title}}&lt;/h2&gt;
                    &lt;/div&gt;
                  &lt;/a&gt;
                &lt;/article&gt;
              &lt;/div&gt;
              {{/featured_content}}
              {{#standard_content}}
              &lt;div class=&quot;expanded-menu__menu-section__standard&quot;&gt;
                {{#items}}
                &lt;article class=&quot;media media__centered media__small media__has-gallery module-name-etr_menu_expanded_small_tout&quot;&gt;
                  &lt;a href=&quot;{{url}}&quot;&gt;
                    &lt;div class=&quot;media-left media-left__img-wrap&quot;&gt;
                      &lt;img src=&quot;{{img}}&quot; /&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;media-body&quot;&gt;
                      &lt;span class=&quot;media-category&quot;&gt;{{category}}&lt;/span&gt;
                      &lt;h2 class=&quot;media-heading&quot;&gt;{{title}}&lt;/h2&gt;
                    &lt;/div&gt;
                  &lt;/a&gt;
                &lt;/article&gt;
                {{/items}}
              &lt;/div&gt;
              {{/standard_content}}
              {{#more_list}}
              &lt;div class=&quot;expanded-menu__menu-section__list&quot;&gt;
                &lt;div class=&quot;expanded-menu__sub-section-group&quot;&gt;
                  &lt;h2 class=&quot;expanded-menu__sub-section-title&quot;&gt;{{heading}}&lt;/h2&gt;
                  &lt;div class=&quot;item-list&quot;&gt;
                    &lt;ul class=&quot;list-unstyled expanded-menu__sub-section-list&quot;&gt;
                      {{#items}}
                      &lt;li class=&quot;expanded-menu__sub-section-list-item first&quot;&gt;
                        &lt;a class='expanded-menu__sub-section-link' href=&quot;{{url}}&quot;&gt;{{title}}&lt;/a&gt;
                      &lt;/li&gt;
                      {{/items}}
                    &lt;/ul&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              {{/more_list}}
            &lt;/div&gt;
            {{/menus}}
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      {{/expanded_menus}}

      {{#social_share}}
      &lt;div class=&quot;site-nav__quickshare hide-at-sm&quot;&gt;
        {{&gt; organisms-content-share }}
      &lt;/div&gt;
      {{/social_share}}

      &lt;div class=&quot;site-nav__quickview&quot;&gt;
        {{#mobile_category}}
          &lt;div class=&quot;site-nav__quickview__column site-nav__quickview__column-left&quot;&gt;
            &lt;a href=&quot;{{url}}&quot; class=&quot;site-nav__quickview-link&quot;&gt;{{title}}&lt;/a&gt;
          &lt;/div&gt;
        {{/mobile_category}}
        &lt;div class=&quot;site-nav__quickview__column site-nav__quickview__column-right site-nav__quickview-link&quot;&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;&lt;!-- /.site-nav --&gt;

    &lt;div class=&quot;search-overlay&quot; data-active-class=&quot;search-overlay--is-open&quot;&gt;
      &lt;div class=&quot;page-container&quot;&gt;
        &lt;div class=&quot;search-overlay__close&quot;&gt;
          &lt;span class=&quot;search-overlay__close-text&quot;&gt;Close&lt;/span&gt;
          &lt;svg class=&quot;search-overlay__close-icon&quot; viewBox=&quot;0 0 25 25&quot;&gt;
            &lt;use xlink:href='{{path_to_symbols}}#icon-close'&gt;&lt;/use&gt;
          &lt;/svg&gt;
        &lt;/div&gt;
        &lt;div class=&quot;search-overlay__inner&quot;&gt;
          &lt;form action=&quot;http://search.essence.com/&quot; method=&quot;get&quot; class=&quot;search-overlay__form form-full-width&quot; data-js-component=&quot;addClassToSearch&quot; data-active-class=&quot;form-full-width--is-active&quot;&gt;
            &lt;div class=&quot;form-full-width__row&quot;&gt;
              &lt;label for=&quot;&quot; class=&quot;form-full-width__label&quot;&gt;Search by typing...&lt;/label&gt;
              &lt;input type=&quot;text&quot; class=&quot;form-full-width__input&quot; name=&quot;q&quot;&gt;
              &lt;button class=&quot;btn btn--with-border btn--with-arrow btn-xl&quot;&gt;Search&lt;/button&gt;
            &lt;/div&gt;
          &lt;/form&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;slide-out&quot;&gt;
      &lt;div class=&quot;slide-out__header&quot;&gt;
        &lt;a href=&quot;/&quot; class=&quot;hidden-xs slide-out__logomark&quot;&gt;
          &lt;svg class=&quot;sl-logomark&quot; viewBox=&quot;0 0 134 27&quot;&gt;
            &lt;use xlink:href='{{path_to_symbols}}#icon-essence-logo--slideout'&gt;&lt;/use&gt;
          &lt;/svg&gt;
        &lt;/a&gt;
        &lt;span class=&quot;hidden-xs slide-out__close&quot;&gt;
          &lt;svg class=&quot;slide-out__close-icon&quot; viewBox=&quot;0 0 25 25&quot;&gt;
            &lt;use xlink:href='{{path_to_symbols}}#icon-close'&gt;&lt;/use&gt;
          &lt;/svg&gt;
        &lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;slide-out__wrapper&quot;&gt;
      &lt;div class=&quot;slide-out__search&quot;&gt;
        &lt;form class=&quot;slide-out__search-form&quot; action=&quot;http://search.essence.com/&quot; method=&quot;get&quot;&gt;
          &lt;input type=&quot;text&quot; class=&quot;slide-out__search-input&quot; placeholder=&quot;Search&quot;&gt;
          &lt;button class=&quot;slide-out__search-btn&quot;&gt;
            &lt;svg viewBox=&quot;0 0 20 18&quot;&gt;
              &lt;use xlink:href='{{path_to_symbols}}#icon-search'&gt;&lt;/use&gt;
            &lt;/svg&gt;
          &lt;/button&gt;
        &lt;/form&gt;
      &lt;/div&gt;

        &lt;nav class=&quot;slide-out-menu__menu-group slide-out-menu accordian-nav&quot;&gt;
        {{#nav_menu}}
          &lt;ul class=&quot;list-unstyled slide-out-menu__list&quot; data-js-component=&quot;navAccordian&quot;&gt;
            {{#items}}
            &lt;li class=&quot;slide-out-menu__list-item {{#has_sub_items?}}slide-out-menu__list-item--with-subnav nav-accordian__item{{/has_sub_items?}}&quot; data-click-target=&quot;.slide-out-menu__list-more&quot;&gt;
              &lt;div class=&quot;slide-out-menu__list-item__interior&quot;&gt;
                &lt;a href=&quot;{{url}}&quot; class=&quot;slide-out-menu__list-link&quot;&gt;{{title}}&lt;/a&gt;
                {{#has_sub_items?}}
                &lt;span class=&quot;slide-out-menu__list-more&quot;&gt;
                  &lt;svg viewBox=&quot;0 0 14 8&quot; class=&quot;slide-out-menu__list-more-arrow&quot;&gt;
                    &lt;use xlink:href='{{path_to_symbols}}#icon-arrow-down'&gt;&lt;/use&gt;
                  &lt;/svg&gt;
                &lt;/span&gt;
                {{/has_sub_items?}}
              &lt;/div&gt;
              {{#has_sub_items?}}
              &lt;div class=&quot;slide-out-menu__sub-nav&quot;&gt;
                &lt;ul class=&quot;list-unstyled slide-out-menu__sub-nav-list&quot;&gt;
                  {{#sub_items}}
                  &lt;li class=&quot;slide-out-menu__sub-list-item &quot;&gt;
                    &lt;a href=&quot;{{url}}&quot; class=&quot;slide-out-menu__sub-nav-list-link&quot;&gt;{{title}}&lt;/a&gt;
                  &lt;/li&gt;
                  {{/sub_items}}
                &lt;/ul&gt;
              &lt;/div&gt;
              {{/has_sub_items?}}
            &lt;/li&gt;
            {{/items}}
            &lt;li class=&quot;slide-out-menu__list-item&quot; data-click-target=&quot;.slide-out-menu__list-more&quot;&gt;
              &lt;div class=&quot;slide-out-menu__list-item__interior&quot;&gt;
                &lt;a href=&quot;{{subscribe.url}}&quot; class=&quot;slide-out-menu__list-link slide-out-menu__list-link--highlighted&quot;&gt;Subscribe&lt;/a&gt;
              &lt;/div&gt;
            &lt;/li&gt;
          &lt;/ul&gt;
          {{/nav_menu}}
        &lt;/nav&gt;
      &lt;/div&gt;
      &lt;div class=&quot;slide-out__footer&quot;&gt;
        {{#slide_out_social}}
          {{&gt; molecules-social-outbound }}
        {{/slide_out_social}}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  {{#channel_mantle}}
  &lt;div class=&quot;channel-mantle&quot; {{#background}}style=&quot;background-image: url({{background}});&quot;{{/background}}&gt;
      &lt;h1 class=&quot;channel-mantle__title&quot;&gt;{{text}}&lt;/h1&gt;
  &lt;/div&gt;
  {{/channel_mantle}}
  {{#page_description}}
  &lt;div class=&quot;page-container site-nav__page-description&quot; data-js-component=&quot;pageDescriptionToggle&quot; data-description-el=&quot;.site-nav__page-description__interior&quot; data-more-toggle-el=&quot;.load-more__text&quot;&gt;
    &lt;div class=&quot;site-nav__page-description__interior&quot;&gt;
      {{{page_description}}}
    &lt;/div&gt;
    &lt;div class=&quot;load-more__wrap&quot;&gt;
      &lt;span class=&quot;load-more__text&quot;&gt;More&lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  {{/page_description}}
  {{#package_mantle}}
    &lt;div class=&quot;page-container package-mantle&quot;&gt;
      &lt;img class=&quot;package-mantle__desktop&quot; src=&quot;{{image}}&quot; alt=&quot;&quot;&gt;
      &lt;img class=&quot;package-mantle__mobile&quot; src=&quot;{{image_mobile}}&quot; alt=&quot;&quot;&gt;
    &lt;/div&gt;
  {{/package_mantle}}
  {{#breadcrumbs}}
  &lt;div class=&quot;page-container&quot;&gt;
    {{&gt; molecules-breadcrumbs }}
  &lt;/div&gt;
  {{/breadcrumbs}}
  &lt;div class=&quot;site-nav__leaderboard page-container&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
{{/site_header}}