{{#homepage_how_to}}
  {{&gt; molecules-accent-header }}

  {{&gt; organisms-featured-story-three-up }}

  {{&gt; molecules-standard-header }}

  {{&gt; organisms-story-card-grid-3-up }}
{{/homepage_how_to}}