&lt;article class=&quot;article&quot;&gt;

    {{&gt; organisms-article-header }}

    &lt;div class=&quot;article__two-col&quot;&gt;
      &lt;div class=&quot;article__two-col__col-2&quot;&gt;

        {{#is_portrait_layout?}}
          &lt;div class=&quot;article__header--portrait&quot;&gt;
          {{#header}}

            {{{header}}}
                {{&gt; organisms-article-media }}
                {{&gt; organisms-article-credit }}
            {{/header}}
          &lt;/div&gt;
        {{/is_portrait_layout?}}

        &lt;div class=&quot;article__intro&quot;&gt;
          {{&gt; organisms-article-intro }}
        &lt;/div&gt;

        {{&gt; organisms-article-body }}
        {{&gt; organisms-article-expand }}
        {{&gt; atoms-outbrain-2x3-placeholder }}
        {{&gt; organisms-related-content }}
        &lt;div id=&quot;disqus_thread&quot;&gt;&lt;/div&gt;
        &lt;script&gt;
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */
            /*
            var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                var d = document, s = d.createElement('script');

                s.src = '//essencecom.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();



        &lt;/script&gt;

        &lt;noscript&gt;Please enable JavaScript to view the &lt;a href=&quot;https://disqus.com/?ref_noscript&quot; rel=&quot;nofollow&quot;&gt;comments powered by Disqus.&lt;/a&gt;&lt;/noscript&gt;
      &lt;/div&gt;
      {{#latest_news}}
      &lt;div class=&quot;article__two-col__col-1&quot;&gt;
        {{&gt; organisms-content-list }}
      &lt;/div&gt;
      {{/latest_news}}
    &lt;/div&gt;
 &lt;script&gt;
 (function () {
  var d = document, s = d.createElement('script');
  s.type = 'text/javascript';
  s.src = '//essencecom.disqus.com/count.js';
  (d.getElementsByTagName('HEAD')[0] || d.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
&lt;/script&gt;
&lt;/article&gt;