{{#top_stories}}
&lt;div class=&quot;top-stories__wrap g-wrap&quot;&gt;
  &lt;div class=&quot;top-stories__content g-span-xs-12 g-span-sm-4&quot;&gt;
    {{#story_1}}
    &lt;a href=&quot;{{url}}&quot; class=&quot;top-stories__content-interior&quot; style=&quot;background-image: url({{image}})&quot;&gt;
      &lt;div class=&quot;story-overlay&quot;&gt;
        &lt;div class=&quot;story-overlay__info-interior&quot;&gt;
          &lt;div class=&quot;story-overlay__info-category&quot;&gt;{{category}}&lt;/div&gt;
          &lt;div class=&quot;story-overlay__info-title&quot;&gt;{{title}}&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/a&gt;
    {{/story_1}}
  &lt;/div&gt;
  &lt;div class=&quot;top-stories__content g-span-xs-12 g-span-sm-4&quot;&gt;
    {{#story_2}}
    &lt;a href=&quot;{{url}}&quot; class=&quot;top-stories__content-interior&quot; style=&quot;background-image: url({{image}})&quot;&gt;
      &lt;div class=&quot;story-overlay&quot;&gt;
        &lt;div class=&quot;story-overlay__info-interior&quot;&gt;
          &lt;div class=&quot;story-overlay__info-category&quot;&gt;{{category}}&lt;/div&gt;
          &lt;div class=&quot;story-overlay__info-title&quot;&gt;{{title}}&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/a&gt;
    {{/story_2}}
  &lt;/div&gt;
  &lt;div class=&quot;top-stories__content g-span-xs-12 g-span-sm-4&quot;&gt;
    &lt;div class=&quot;top-stories__content-interior&quot;&gt;
      {{&gt; organisms-content-list}}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
{{/top_stories}}