&lt;article class=&quot;article&quot;&gt;

    {{&gt; organisms-gallery-header }}

    {{&gt; organisms-gallery-body }}

    {{#latest_news}}
    &lt;div class=&quot;article__two-col__col-1&quot;&gt;
      {{&gt; organisms-content-list }}
    &lt;/div&gt;
    {{/latest_news}}
&lt;/article&gt;