{{#yieldmo_content}}
&lt;div id=&quot;{{ yieldmo_id }}&quot; class=&quot;ym&quot;&gt;&lt;/div&gt;
&lt;script type=&quot;text/javascript&quot;&gt;(function(e,t){if(t._ym===void 0){t._ym=&quot;&quot;;var m=e.createElement(&quot;script&quot;);m.type=&quot;text/javascript&quot;,m.async=!0,m.src=&quot;//static.yieldmo.com/ym.m4.js&quot;,(e.getElementsByTagName(&quot;head&quot;)[0]||e.getElementsByTagName(&quot;body&quot;)[0]).appendChild(m)}else t._ym instanceof String||void 0===t._ym.chkPls||t._ym.chkPls()})(document,window);&lt;/script&gt;
{{/yieldmo_content}}
