{{#title}}
  &lt;div class=&quot;article__header-wrap&quot;&gt;

    {{#sponsored?}}
      &lt;div class=&quot;ad-wrapper&quot;&gt;
        {{#text}}
          &lt;span class=&quot;ad-text&quot;&gt;{{text}}&lt;/span&gt;
        {{/text}}

        &lt;div class=&quot;ad&quot;&gt;
          &lt;img src=&quot;http://placehold.it/100x30&quot; alt=&quot;Placeholder Ad image&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;

    {{/sponsored?}}

    &lt;h1 class=&quot;article-title&quot;&gt;{{title}}&lt;/h1&gt;

  &lt;/div&gt;
{{/title}}