{{#hero}}
&lt;figure class=&quot;media article__media--hero&quot;&gt;
  &lt;div class=&quot;media-wrap&quot;&gt;
    {{{image_html}}}
    {{#social_share}}
            {{&gt;molecules-social-share}}
    {{/social_share}}
  &lt;/div&gt;
  {{#caption}}
  &lt;figcaption&gt;
    {{#credit}}
      &lt;span class=&quot;media__text media__credit&quot;&gt;{{credit}}&lt;/span&gt;
    {{/credit}}
    {{#caption}}
      &lt;div class=&quot;media__text media__caption&quot;&gt;{{caption}}&lt;/div&gt;
    {{/caption}}
  &lt;/figcaption&gt;
  {{/caption}}
&lt;/figure&gt;
{{/hero}}