{{#accent_header}}
  {{&gt; molecules-accent-header }}
{{/accent_header}}
{{#image_grid}}
&lt;div class=&quot;image-grid&quot;&gt;
  &lt;div class=&quot;image-grid__header&quot;&gt;
    &lt;a href=&quot;#&quot;&gt;
      &lt;svg class=&quot;image-grid__header-icon&quot;&gt;
         {{&gt;molecules-svg-use-tag}}
      &lt;/svg&gt;
      &lt;span class=&quot;image-grid__header-text&quot;&gt;Follow us &lt;span class=&quot;image-grid__header-text--bold&quot;&gt;@cookinglight&lt;/span&gt;&lt;/span&gt;
    &lt;/a&gt;


  &lt;/div&gt;
  &lt;div class=&quot;image-grid__layout&quot;&gt;
    &lt;div class=&quot;image-grid__item&quot;&gt;
      &lt;img class=&quot;image-grid__media&quot; src=&quot;http://placehold.it/546x546&quot; alt=&quot;&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;image-grid__layout image-grid__layout--lg&quot;&gt;

    &lt;div class=&quot;image-grid__item image-grid__item--sm&quot;&gt;
      &lt;img class=&quot;image-grid__media&quot; src=&quot;http://placehold.it/546x546&quot; alt=&quot;&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;image-grid__item image-grid__item--sm&quot;&gt;
      &lt;img class=&quot;image-grid__media&quot; src=&quot;http://placehold.it/546x546&quot; alt=&quot;&quot;&gt;
    &lt;/div&gt;

    &lt;div class=&quot;image-grid__item image-grid__item--sm&quot;&gt;
      &lt;img class=&quot;image-grid__media&quot; src=&quot;http://placehold.it/546x546&quot; alt=&quot;&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;image-grid__item image-grid__item--sm&quot;&gt;
      &lt;img class=&quot;image-grid__media&quot; src=&quot;http://placehold.it/546x546&quot; alt=&quot;&quot;&gt;
    &lt;/div&gt;

    &lt;div class=&quot;image-grid__item image-grid__item--sm&quot;&gt;
      &lt;img class=&quot;image-grid__media&quot; src=&quot;http://placehold.it/546x546&quot; alt=&quot;&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;image-grid__item image-grid__item--sm&quot;&gt;
      &lt;img class=&quot;image-grid__media&quot; src=&quot;http://placehold.it/546x546&quot; alt=&quot;&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
{{/image_grid}}