{{#outbrain_5x1}}
&lt;div class=&quot;ad-outbrain ad-outbrain--5-up&quot;&gt;
  &lt;div class=&quot;ad-outbrain__title&quot;&gt;You May Also Like&lt;/div&gt;
  &lt;div class=&quot;g-wrap&quot;&gt;
    &lt;div class=&quot;ad-outbrain__item&quot;&gt;
      &lt;a href=&quot;#&quot; class=&quot;ad-outbrain__ad&quot;&gt;
        &lt;img src=&quot;http://placehold.it/400x300?text=Outbrain+Placeholder&quot; alt=&quot;Outbrain Placeholder&quot; /&gt;
        &lt;div class=&quot;ad-outbrain__content&quot;&gt;
          The Most Revealing Red Carpet Looks of All Time
          &lt;span class=&quot;ad-outbrain__source&quot;&gt;Brilliant Earth&lt;/span&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;ad-outbrain__item&quot;&gt;
      &lt;a href=&quot;#&quot; class=&quot;ad-outbrain__ad&quot;&gt;
        &lt;img src=&quot;http://placehold.it/400x300?text=Outbrain+Placeholder&quot; alt=&quot;Outbrain Placeholder&quot; /&gt;
        &lt;div class=&quot;ad-outbrain__content&quot;&gt;
          The Most Revealing Red Carpet Looks of All Time
          &lt;span class=&quot;ad-outbrain__source&quot;&gt;Brilliant Earth&lt;/span&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;ad-outbrain__item&quot;&gt;
      &lt;a href=&quot;#&quot; class=&quot;ad-outbrain__ad&quot;&gt;
        &lt;img src=&quot;http://placehold.it/400x300?text=Outbrain+Placeholder&quot; alt=&quot;Outbrain Placeholder&quot; /&gt;
        &lt;div class=&quot;ad-outbrain__content&quot;&gt;
          The Most Revealing Red Carpet Looks of All Time
          &lt;span class=&quot;ad-outbrain__source&quot;&gt;Brilliant Earth&lt;/span&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;ad-outbrain__item&quot;&gt;
      &lt;a href=&quot;#&quot; class=&quot;ad-outbrain__ad&quot;&gt;
        &lt;img src=&quot;http://placehold.it/400x300?text=Outbrain+Placeholder&quot; alt=&quot;Outbrain Placeholder&quot; /&gt;
        &lt;div class=&quot;ad-outbrain__content&quot;&gt;
          The Most Revealing Red Carpet Looks of All Time
          &lt;span class=&quot;ad-outbrain__source&quot;&gt;Brilliant Earth&lt;/span&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;ad-outbrain__item&quot;&gt;
      &lt;a href=&quot;#&quot; class=&quot;ad-outbrain__ad&quot;&gt;
        &lt;img src=&quot;http://placehold.it/400x300?text=Outbrain+Placeholder&quot; alt=&quot;Outbrain Placeholder&quot; /&gt;
        &lt;div class=&quot;ad-outbrain__content&quot;&gt;
          The Most Revealing Red Carpet Looks of All Time
          &lt;span class=&quot;ad-outbrain__source&quot;&gt;Brilliant Earth&lt;/span&gt;
        &lt;/div&gt;
      &lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
{{/outbrain_5x1}}