{{#outbrain_5x1}}
&lt;div class=&quot;ad-outbrain ad-outbrain--5-up&quot;&gt;
 &lt;div class=&quot;OUTBRAIN&quot; data-src=&quot;{{outbrain_node_url}}&quot; data-widget-id=&quot;{{outbrain_widget_id}}&quot; data-ob-template=&quot;{{outbrain_template_name}}&quot; &gt;&lt;/div&gt;
&lt;/div&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;{{outbrain_widget_src}}&quot;&gt;&lt;/script&gt;
{{/outbrain_5x1}}
