{{#gallery_meta}}
&lt;div class=&quot;gallery-meta&quot; data-bind=&quot;with: currentSlide&quot;&gt;
  &lt;div class=&quot;gallery-meta__header&quot;&gt;
    &lt;h2 class=&quot;gallery__slide-title&quot; data-bind=&quot;html: title&quot;&gt;{{title}}&lt;/h2&gt;
    &lt;div class=&quot;gallery-counter&quot;&gt;
      &lt;span data-bind=&quot;text: $parent.currentSlideNum&quot;&gt;{{currentSlideCount}}&lt;/span&gt;/&lt;span data-bind=&quot;text: $parent.totalSlideCount&quot;&gt;{{totalSlideCount}}&lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;gallery-caption&quot;&gt;
    &lt;div class=&quot;gallery-caption__content&quot; data-bind=&quot;html: caption&quot;&gt;
        {{caption}}
    &lt;/div&gt;
    &lt;!-- ko if: imageCredit --&gt;
    &lt;div class=&quot;gallery-caption__credit&quot;&gt;Photo by &lt;span data-bind=&quot;html: imageCredit&quot;&gt;{{imageCredit}}&lt;/span&gt;&lt;/div&gt;
    &lt;!-- /ko --&gt;
  &lt;/div&gt;
&lt;/div&gt;
{{/gallery_meta}}