{{#homepage_body}}
  {{&gt; organisms-homepage-section }}

  {{#cta}}
    &lt;a href=&quot;{{url}}&quot; class=&quot;btn btn--centered btn--arrow&quot;&gt;{{text}}&lt;/a&gt;
  {{/cta}}

{{/homepage_body}}


