&lt;div class=&quot;gallery__ad&quot;&gt;
  &lt;div id=&quot;gallery__ad-container&quot; data-bind=&quot;adContainer&quot;&gt;
    &lt;div  class=&quot;ad-placeholder ad-refresh&quot; id=&quot;ad-gallery_interstitial_ad&quot; data-id=&quot;gallery_interstitial_ad&quot; data-type=&quot;regular&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;