&lt;header class=&quot;article__header&quot;&gt;

  &lt;div class=&quot;article__header-top&quot;&gt;
    {{&gt; molecules-breadcrumbs }}
    {{&gt; organisms-article-sponsor }}
  &lt;/div&gt;

  {{#header}}

    {{{header}}}

    {{&gt; organisms-article-title }}

    {{^is_portrait_layout?}}

    {{&gt; organisms-article-media }}
    {{&gt; organisms-article-credit }}

    {{/is_portrait_layout?}}


  {{/header}}
&lt;/header&gt;