&lt;header class=&quot;article__header&quot;&gt;
  &lt;div class=&quot;show-at-md&quot;&gt;
    {{&gt; molecules-breadcrumbs }}
  &lt;/div&gt;

  {{#header}}

    {{{header}}}

    {{&gt; organisms-article-title }}

    {{&gt; organisms-article-media }}

    {{&gt; organisms-article-sponsor }}

    {{&gt; organisms-article-meta }}

    {{&gt; organisms-article-lead }}

    {{&gt; organisms-article-credit }}

  {{/header}}
&lt;/header&gt;