{{#story_card_three_up}}
{{#accent_header}}
  {{&gt; molecules-accent-header }}
{{/accent_header}}
&lt;div class=&quot;g-wrap&quot;&gt;

  {{#items}}
    &lt;div class=&quot;g-span-xs-12 g-span-sm-4&quot;&gt;
      {{&gt; organisms-story-card }}
    &lt;/div&gt;
  {{/items}}

  {{#cta}}
    &lt;a href=&quot;{{url}}&quot; class=&quot;btn btn--centered btn--arrow&quot;&gt;{{text}}&lt;/a&gt;
  {{/cta}}

  {{#load_more}}
    &lt;div class=&quot;load-more__wrap&quot;&gt;
      &lt;a href=&quot;{{load_more_url}}&quot; class=&quot;load-more&quot;&gt;
        &lt;span class=&quot;load-more__text&quot;&gt;{{load_more_text}}&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  {{/load_more}}
&lt;/div&gt;
{{/story_card_three_up}}