{{#article_text}}
  {{#title}}
    &lt;h2 class=&quot;article-section-title&quot;&gt;{{title}}&lt;/h2&gt;
  {{/title}}

  {{#text}}
    &lt;p {{#has_tombstone?}}class=&quot;article-tombstone&quot;{{/has_tombstone?}}&gt;{{{text}}}&lt;/p&gt;
  {{/text}}
{{/article_text}}
