{{#content_sidebar_lockup}}

&lt;div class=&quot;content-sidebar-lockup&quot;&gt;
    &lt;div class=&quot;content content--has-sw-sidebar&quot;&gt;
        {{#content}}
          {{content}}
        {{/content}}
    &lt;/div&gt;
    &lt;div class=&quot;sidebar sidebar--is-sw&quot;&gt;
      sidebar
    &lt;/div&gt;
&lt;/div&gt;

{{/content_sidebar_lockup}}