{{#related_content}}
&lt;div class=&quot;related-content article__media&quot;&gt;
  &lt;div class=&quot;hide-at-md&quot;&gt;
    {{&gt; organisms-content-slider }}
  &lt;/div&gt;

  &lt;div class=&quot;show-at-md&quot;&gt;
  {{&gt; molecules-related-articles }}
  &lt;/div&gt;
&lt;/div&gt;

{{/related_content}}