{{#glance_bar}}
&lt;div class=&quot;site-header__bar hide-at-md&quot;&gt;
  &lt;div class=&quot;site-header__wrap&quot;&gt;
    &lt;div class=&quot;glance-bar&quot;&gt;
      &lt;div class=&quot;glance-bar__section&quot;&gt;
        &lt;a class=&quot;glance-bar__link&quot; href=&quot;{{url}}&quot;&gt;
          {{text}}
        &lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;glance-bar__section&quot;&gt;
        &lt;a class=&quot;glance-bar__link glance-bar__link--dark&quot; href=&quot;{{subscribe_url}}&quot;&gt;
          {{subscribe_text}}
        &lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
{{/glance_bar}}