{{#link_list}}
&lt;div class=&quot;link-list footer__list&quot;&gt;
  &lt;div class=&quot;link-list__title&quot;&gt;{{title}}&lt;/div&gt;
    &lt;ul class=&quot;link-list__container&quot;&gt;
      {{#items}}
      &lt;li class=&quot;link-list__item&quot;&gt;&lt;a href=&quot;{{url}}&quot;&gt;{{text}}&lt;/a&gt;&lt;/li&gt;
      {{/items}}
    &lt;/ul&gt;
&lt;/div&gt;
{{/link_list}}