{{#homepage_sections}}
  &lt;section class=&quot;section&quot;&gt;

    {{&gt; organisms-homepage-videos }}

    {{&gt; organisms-homepage-how-to }}

    {{&gt; organisms-image-grid }}

    {{&gt; organisms-homepage-latest-articles }}


  &lt;/section&gt;
{{/homepage_sections}}