{{#sidebar }}
&lt;div class=&quot;sidebar-wrap&quot; {{#is_sticky}}data-js-component=&quot;stickySidebar&quot;{{/is_sticky}}{{#sticky_stop_el}} data-sticky-stop-el=&quot;{{sticky_stop_el}}&quot;{{/sticky_stop_el}}&gt;
{{#sidebar_body}}

  {{&gt; atoms-ad-300x250-placeholder }}

  {{&gt; atoms-outbrain-2x2-placeholder }}

  {{&gt; atoms-outbrain-2x1-placeholder }}

{{/sidebar_body}}
&lt;/div&gt;
{{/sidebar}}
