{{#article_meta}}
	&lt;div class=&quot;article__meta&quot;&gt;
    &lt;div class=&quot;article__meta-byline&quot;&gt;
      {{&gt; molecules-byline }}
    &lt;/div&gt;
    &lt;div class=&quot;article__meta-share show-at-md&quot;&gt;
      {{&gt; organisms-content-share }}
    &lt;/div&gt;
  &lt;/div&gt;
{{/article_meta}}