{{#article_blockquote}}
  &lt;blockquote&gt;
    &lt;p&gt;{{text}}&lt;/p&gt;
    {{#citation}}
      &lt;cite class=&quot;citation&quot;&gt;{{citation}}&lt;/cite&gt;
    {{/citation}}
  &lt;/blockquote&gt;
{{/article_blockquote}}