{{#channel_two_col}}
&lt;div class=&quot;g-wrap&quot;&gt;
  &lt;div class=&quot;g-span-xs-12 g-span-sm-3&quot;&gt;
  {{#sidebar}}
    {{&gt; organisms-content-list }}

    {{&gt; atoms-ad-300x250-placeholder }}
  {{/sidebar}}
  &lt;/div&gt;

  &lt;div class=&quot;g-span-xs-12 g-span-sm-9&quot;&gt;
    {{&gt; organisms-billboard }}

    {{&gt; organisms-channel-content-sidebar-lockup }}

    {{&gt; organisms-story-card-three-up }}

    {{&gt; organisms-story-card-four-up }}

    {{&gt; organisms-featured-story }}

    {{#cta}}
      &lt;a href=&quot;{{url}}&quot; class=&quot;btn btn--centered btn--arrow&quot;&gt;{{text}}&lt;/a&gt;
    {{/cta}}
  &lt;/div&gt;
&lt;/div&gt;
{{/channel_two_col}}