&lt;h1 class=&quot;article-title&quot;&gt;Article Heading Level 1&lt;/h1&gt;
&lt;h2 class=&quot;article-section-title&quot;&gt;Article Section Title&lt;/h2&gt;

&lt;div class=&quot;article-lead&quot;&gt;
O summer... Celebrate with us the sweet joys of fruits and the luscious crunch of vegetables.
&lt;/div&gt;


&lt;div class=&quot;body-sans-lite&quot;&gt;
  &lt;p&gt;For anyone who enjoys food and cooking, summer offers the finest ingredients&mdash;fresh local produce from the garden, farmers' market, and grocery&mdash;to make any dish superlative. The key is to keep things simple and let the quality of seasonal ingredients shine through. It's so easy, enjoyable, and affordable to indulge your cravings for fresh fruits and vegetables this time of year.&lt;/p&gt;
  &lt;p&gt;Heirloom is a term used to describe any tomato plant that&rsquo;s openly pollinated (by wind and bees) and has been cultivated for more than 50 years. Seeds from the best plants are saved at the end of the growing season for future use. They come in many shapes and sizes&mdash;from the two-pound beefsteak to cherry tomatoes as tiny as currants.&lt;/p&gt;
&lt;/div&gt;