{{#channel_content_sidebar_lockup}}
  &lt;div class=&quot;content-sidebar-lockup&quot;&gt;
      &lt;div class=&quot;left-content left-content--has-sw-sidebar&quot;&gt;
        {{&gt; organisms-billboard }}
      &lt;/div&gt;
      &lt;div class=&quot;sidebar sidebar--is-sw&quot;&gt;
        {{&gt; atoms-ad-300x600-placeholder }}
      &lt;/div&gt;
  &lt;/div&gt;
{{/channel_content_sidebar_lockup}}