{{#full_width_ad}}
&lt;div class=&quot;ad-wrapper ad-padding-lg&quot;&gt;
  &lt;div class=&quot;ad&quot;&gt;
    &lt;img src=&quot;http://placehold.it/970x250&quot; alt=&quot;&quot;&gt;
  &lt;/div&gt;
&lt;/div&gt;

{{/full_width_ad}}