{{#content_spotlight}}
&lt;div class=&quot;content-spotlight&quot;&gt;
  {{#accent_header}}
    {{&gt; molecules-accent-header }}
  {{/accent_header}}
  &lt;div class=&quot;conetnt-spotlight__column-wrap&quot;&gt;
    &lt;div class=&quot;content-spotlight__column content-spotlight__column--featured&quot;&gt;
      {{#featured_content}}
        {{&gt; organisms-story-card }}
      {{/featured_content}}
    &lt;/div&gt;
    &lt;div class=&quot;content-spotlight__column&quot;&gt;
      {{#content_column_1}}
      {{^is_sponsored?}}
      {{&gt; organisms-story-card }}
      {{/is_sponsored?}}
      {{#is_sponsored?}}
      &lt;div class=&quot;story-card   has-social-share&quot;&gt;
        &lt;div id=&quot;homepage_ad_300x250&quot;&gt;
        &lt;/div&gt;
        &lt;/div&gt;
      {{/is_sponsored?}}
      {{/content_column_1}}
    &lt;/div&gt;
    &lt;div class=&quot;content-spotlight__column&quot;&gt;
      {{#content_column_2}}
      {{^is_sponsored?}}
      {{&gt; organisms-story-card }}
      {{/is_sponsored?}}
      {{#is_sponsored?}}
        &lt;div class=&quot;story-card   has-social-share&quot;&gt;
        &lt;div id=&quot;homepage_ad_300x250&quot;&gt;
        &lt;/div&gt;
        &lt;/div&gt;
      {{/is_sponsored?}}
      {{/content_column_2}}
    &lt;/div&gt;
  &lt;/div&gt;
  {{#cta}}
  {{#text}}
  {{#url}}
    &lt;a href=&quot;{{url}}&quot; class=&quot;btn btn--centered btn--arrow&quot;&gt;{{text}}&lt;/a&gt;
  {{/url}}
  {{/text}}
  {{/cta}}
&lt;/div&gt;
{{/content_spotlight}}