{{#featured_story_with_ad}}
    &lt;div class=&quot;main-content main-content--has-sw-sidebar&quot;&gt;
      {{&gt; organisms-story-card }}
    &lt;/div&gt;
    &lt;aside class=&quot;sidebar sidebar--is-sw sidebar--ad&quot;&gt;
      {{&gt; atoms-ad-300x250-placeholder }}
    &lt;/aside&gt;
{{/featured_story_with_ad}}