{{&lt; templates-two-col-sw-sidebar }}

  {{$ header }}
    {{&gt; organisms-site-header }}
  {{/ header }}


  {{$ full_width }}
    {{&gt; organisms-videos-slider }}
  {{/ full_width }}

  {{$ main }}

    {{&gt; templates-videos }}

  {{/ main }}

  {{$ sidebar_content }}

    {{&gt; templates-sidebar }}

  {{/ sidebar_content }}

  {{$ footer }}
    {{&gt; organisms-site-footer }}
  {{/ footer }}

{{/ templates-two-col-sw-sidebar }}