{{&lt; templates-two-col-sw-sidebar-fulltop }}

  {{$ header }}
    {{&gt; organisms-site-header }}
  {{/ header }}

  {{$ main }}

    {{&gt; templates-videos }}

  {{/ main }}

  {{$ sidebar_content }}

    {{&gt; templates-sidebar }}

  {{/ sidebar_content }}

  {{$ footer }}
    {{&gt; organisms-site-footer }}
  {{/ footer }}

{{/ templates-two-col-sw-sidebar-fulltop }}