&lt;div class=&quot;media-object&quot;&gt;
  &lt;a href=&quot;{{ url }}&quot; class=&quot;media-object__media-wrap&quot;&gt;
    &lt;img class=&quot;media-object__media&quot; src=&quot;{{ img }}&quot; alt=&quot;{{ img_alt }}&quot; /&gt;
  &lt;/a&gt;
  &lt;div class=&quot;media-object__body&quot;&gt;
    {{ text }}
  &lt;/div&gt;
&lt;/div&gt;