&lt;div class=&quot;page-container&quot;&gt;

  {{&gt; organisms-homepage-section }}


  {{#load_more}}
  &lt;a href=&quot;#&quot; class=&quot;btn btn-primary btn--centered&quot;&gt;Load More&lt;/a&gt;
  {{/load_more}}
&lt;/div&gt;