{{#outbrain_2x3}}
&lt;div class=&quot;ad-outbrain&quot;&gt;
  &lt;div class=&quot;OUTBRAIN&quot; data-src=&quot;{{outbrain_node_url}}&quot; data-widget-id=&quot;{{outbrain_widget_id}}&quot; data-ob-template=&quot;{{outbrain_template_name}}&quot; &gt;&lt;/div&gt;
&lt;/div&gt;
{{/outbrain_2x3}}