{{#quote_block}}
&lt;div class=&quot;quote-block&quot;&gt;
  &lt;p class=&quot;quote-block__text&quot;&gt;{{quote}}&lt;/p&gt;
  &lt;div class=&quot;quote-block__author&quot;&gt;
    &lt;div class=&quot;quote-block__author-name&quot;&gt;{{author}}&lt;/div&gt;
    &lt;div class=&quot;quote-block__author-title&quot;&gt;{{author_title}}&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
{{/quote_block}}