{{#channel_mantle}}
&lt;div class=&quot;channel-mantle&quot; {{#background}}style=&quot;background-image: url({{background}});&quot;{{/background}}&gt;
    &lt;h1 class=&quot;channel-mantle__title&quot;&gt;{{text}}&lt;/h1&gt;
&lt;/div&gt;
{{/channel_mantle}}