{{! if there is a 'body' key in the data - the organism-body partial will pick it up and render it
the value of the 'body' can be a string or a structured array of conten}}
{{! This particular partial renders the 'body' element as markup}}
{{! see organisms/test-body/body-structured.mustache for a structured version
that is not markup that uses the same partial}}
{{&gt; organisms-body}}
