&lt;div&gt;
  &lt;div class=&quot;OUTBRAIN&quot; data-src=&quot;{{outbrainSourceURL}}&quot; data-widget-id=&quot;{{outbrainWidgetID}}&quot; data-ob-template=&quot;{{outbrainTemplate}}&quot;&gt;&lt;/div&gt;
  &lt;script type=&quot;text/javascript&quot; src=&quot;http://widgets.outbrain.com/outbrain.js&quot;&gt;&lt;/script&gt;
&lt;/div&gt;