{{#tags_content}}
&lt;div class=&quot;tags-content__interior&quot;&gt;
 &lt;span class=&quot;tags-title&quot;&gt;{{ header_title }} &lt;/span&gt;
  {{#items}}
    &lt;a href=&quot;{{ url }}&quot; class=&quot;tags-content__item-link&quot;&gt;{{ title }}&lt;/a&gt;
  {{/items}}
&lt;/div&gt;
{{/tags_content}}