{{#channel_body}}
  {{&gt; organisms-channel-section }}

  {{&gt; organisms-story-card-three-up }}

  {{&gt; organisms-story-card-four-up }}


  {{#cta}}
    &lt;a href=&quot;{{url}}&quot; class=&quot;btn btn--centered btn--arrow&quot;&gt;{{text}}&lt;/a&gt;
  {{/cta}}

{{/channel_body}}


