{{#story_card_grid_4_up}}
  &lt;div class=&quot;g-wrap&quot;&gt;
    {{#story_cards}}
      &lt;div class=&quot;g-span-xs-12 g-span-sm-3&quot;&gt;
      {{&gt; organisms-story-card }}
      &lt;/div&gt;
    {{/story_cards}}
  &lt;/div&gt;
{{/story_card_grid_4_up}}