&lt;div class=&quot;article__intro article__intro--listicle&quot;&gt;
  {{&gt; organisms-gallery-header }}
  {{#listicle_items}}
    {{&gt; organisms-listicle-item }}
  {{/listicle_items}}
&lt;/div&gt;
&lt;div class=&quot;listicle__bottom&quot;&gt;
  {{&gt; atoms-outbrain-6x1}}
  {{&gt; organisms-related-content }}
&lt;/div&gt;
&lt;div id=&quot;disqus_thread&quot;&gt;&lt;/div&gt;


&lt;script&gt;
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */

    var disqus_config = function () {
        this.page.url =  Drupal.settings.ti_ape_ess_disqus_detail.disqus_url;
        console.log(this.page.url);// Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = Drupal.settings.ti_ape_ess_disqus_detail.disqus_identifier;
        console.log(this.page.identifier);
        console.log('here'); // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');

        s.src = '//essencecom.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
&lt;/script&gt;

&lt;noscript&gt;Please enable JavaScript to view the &lt;a href=&quot;https://disqus.com/?ref_noscript&quot; rel=&quot;nofollow&quot;&gt;comments powered by Disqus.&lt;/a&gt;&lt;/noscript&gt;