{{#gallery}}
&lt;div class=&quot;gallery&quot; {{^is_local_dev?}}data-js-component=&quot;gallery&quot;{{/is_local_dev?}}
     data-config=&quot;galleryConfig&quot;
     data-bind=&quot;swipeLeft: gotoNextSlide,
                swipeRight: gotoPrevSlide,
                leftArrowPress: gotoPrevSlide,
                rightArrowPress: gotoNextSlide&quot;&gt;

  &lt;div class=&quot;gallery__slide&quot;&gt;
  {{&gt; organisms-gallery-controls }}

    &lt;div class=&quot;gallery__media&quot;
       data-bind=&quot;template: {
        if: currentSlide,
        name: templateType,
        data: currentSlide()}, css: slideMediaType&quot;&gt;

        {{#slide}}

          {{#image}}
            {{&gt; organisms-gallery-image }}
          {{/image}}

          {{#video}}
            {{&gt; organisms-gallery-video }}
          {{/video}}

          {{#ad}}
            {{&gt; organisms-gallery-ad }}
          {{/ad}}

          {{#ob}}
           {{&gt; organisms-gallery-outbrain }}
          {{/ob}}

        {{/slide}}
    &lt;/div&gt;

   
    {{&gt; molecules-social-share }}

  &lt;/div&gt;
  &lt;!-- ko if: currentSlide().type === 'image' --&gt;
    {{&gt; organisms-gallery-meta }}
  &lt;!-- /ko --&gt;
&lt;/div&gt;

&lt;script type=&quot;text/html&quot; id=&quot;image-slide-template&quot;&gt;
  &lt;img class=&quot;gallery__image&quot; src=&quot;&quot; alt=&quot;&quot; data-pin-no-hover=&quot;true&quot;  data-bind=&quot;attr: {src: image, alt: title, width: width, height: height}, css: orientationClass&quot;&gt;
&lt;/script&gt;

&lt;script type=&quot;text/html&quot; id=&quot;video-slide-template&quot;&gt;
    &lt;div class=&quot;gallery__video&quot; data-bind=&quot;html: videoHtml&quot;&gt;&lt;/div&gt;
&lt;/script&gt;

&lt;script type=&quot;text/html&quot; id=&quot;ad-slide-template&quot;&gt;
  &lt;div class=&quot;gallery__ad&quot;&gt;
    &lt;div id=&quot;gallery__ad-container&quot; data-bind=&quot;adContainer&quot;&gt;
      &lt;div  class=&quot;ad-placeholder ad-refresh&quot; id=&quot;ad-gallery_interstitial_ad&quot; data-id=&quot;gallery_interstitial_ad&quot; data-type=&quot;regular&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/script&gt;

&lt;script type=&quot;text/html&quot; id=&quot;ob-slide-template&quot;&gt;
   &lt;div class=&quot;OUTBRAIN&quot;
        data-src=&quot;&quot;
        data-widget-id=&quot;&quot;
        data-ob-template=&quot;&quot;
        data-bind=&quot;attr: {'data-src': outbrainSourceURL, 'data-widget-id': outbrainWidgetID, 'data-ob-template': outbrainTemplate}, renderOutbrain&quot;&gt;

   &lt;/div&gt;
   &lt;script type=&quot;text/javascript&quot; src=&quot;http://widgets.outbrain.com/outbrain.js&quot;&gt;&lt;/script&gt;
&lt;/script&gt;

&lt;script&gt;
  var galleryConfig = {{{config}}};
&lt;/script&gt;
{{/gallery}}