{{#social_share}}
&lt;div class=&quot;social-share {{#is_vertical?}}social-share--vertical{{/is_vertical?}}{{#share_count}} social-share--share-count{{/share_count}}&quot;&gt;
  {{#share_count}}
  &lt;div class=&quot;social-share__share-count&quot;&gt;
    &lt;div class=&quot;social-share__share-count-number&quot;&gt;{{share_count}}&lt;/div&gt;
    &lt;div class=&quot;social-share__share-count-text&quot;&gt;SHARES&lt;/div&gt;
  &lt;/div&gt;
  {{/share_count}}
  &lt;div class=&quot;social-share__icon-wrap&quot;&gt;
  {{#items}}

      {{^identifier}}
       &lt;a href=&quot;{{url}}&quot; class=&quot;social-share__item social-share__item--{{icon}} &quot; target = &quot;{{target}}&quot; onclick=&quot;{{onclick}}&quot;&gt;

        &lt;svg class=&quot;social-share__icon social-share__icon--{{icon}}&quot;&gt;
          &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;{{ path_to_symbols  }}#icon-{{ icon }}&quot;&gt;&lt;/use&gt;
        &lt;/svg&gt;

      &lt;/a&gt;
      {{/identifier}}
      {{#identifier}}
      
        &lt;span class=&quot;disqus-count-text social-share__item social-share__item--{{icon}}&quot;&gt;
        &lt;a href=&quot;{{url}}&quot; data-disqus-identifier =&quot;{{identifier}}&quot;&gt;

          {{ comment_count }}

        &lt;/a&gt;
        &lt;/span&gt;

      {{/identifier}}

  {{/items}}
  &lt;/div&gt;
&lt;/div&gt;
{{/social_share}}