{{#secondary_menu}}
  &lt;div class=&quot;menu-group menu-group__secondary&quot;&gt;
    &lt;ul class=&quot;menu-group__list&quot;&gt;
      {{#menu_items}}
        &lt;li class=&quot;menu-group__list-item&quot;&gt;&lt;a href=&quot;{{url}}&quot; class=&quot;menu-group__link&quot;&gt;{{name}}&lt;/a&gt;&lt;/li&gt;
      {{/menu_items}}
    &lt;/ul&gt;
  &lt;/div&gt;
{{/secondary_menu}}