{{#homepage_seasonal}}
  {{&gt; molecules-accent-header }}

  {{&gt; organisms-featured-story }}

  {{&gt; molecules-standard-header }}

  {{&gt; organisms-story-card-grid-3-up }}
{{/homepage_seasonal}}