{{#simple_story_card}}
&lt;div class=&quot;simple-story-card&quot;&gt;
  &lt;div class=&quot;simple-story-card__category&quot;&gt;{{category}}&lt;/div&gt;
  &lt;div class=&quot;simple-story-card__title&quot;&gt;
    &lt;a href=&quot;{{url}}&quot;&gt;{{title}}&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;
{{/simple_story_card}}