&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;h3&gt;Grapefruit Shades&lt;/h3&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #F26457;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Dark #F26457 (Primary)&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #F28379;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Med #F28379&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #F7AB9C;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Lite #F7AB9C&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #FFECE6;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Extra-Lite #FFECE6&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;h3&gt;Fresh Shades&lt;/h3&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #3D9982;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#3D9982&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #52CCAD;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Med #52CCAD (Secondary)&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ADEFDE;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Lite #ADEFDE&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;h3&gt;Slate Shades&lt;/h3&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #171A1A;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Extra-Dark #171A1A&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #4C5454;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Dark #4C5454&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #7E8C8C;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Med #7E8C8C (Tertiary)&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #C0D1D1;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Lite #C0D1D1&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #DAE6E6;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Extra-Lite #DAE6E6&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #F0F2F2;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Ultra-Lite #F0F2F2&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;h3&gt;Extra Colors&lt;/h3&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #333;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Body Text #333&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;