&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;h3&gt;Purple Shades&lt;/h3&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #800A57;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Plum #800A57&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #B70F7C;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Glow #B70F7C&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #630A5D;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Eggplant #630A5D&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #C43E95;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Bright #C43E95&lt;/span&gt;
	&lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #580853;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;Dark #580853&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;

&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;h3&gt;Grey Shades&lt;/h3&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #F5F5F4;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Pale #F5F5F4&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #D1CDCC;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Light #D1CDCC&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #A29E9D;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Regular #A29E9D&lt;/span&gt;
	&lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #71706E;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;Medium #71706E&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-swatch&quot; style=&quot;background: #131313;&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sg-label&quot;&gt;Dark #131313&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;