{{&gt; organisms-site-header }}

{{#content}}
&lt;div class=&quot;page-container&quot;&gt;
  {{&gt; templates-channel }}
&lt;/div&gt;

{{&gt; atoms-full-width-ad }}

{{/content}}

{{&gt; organisms-site-footer }}

