{{#videos_slider}}
  &lt;div class=&quot;videos-slider&quot; data-js-component=&quot;videoSlider&quot; style=&quot;background-image: url({{slider_image}});&quot;&gt;
    {{#featured_video}}
    &lt;div class=&quot;videos-slider__featured {{#live_stream}}videos-slider__livestream{{/live_stream}}&quot; style=&quot;background-image: url({{image_url}});&quot;&gt;
      &lt;div class=&quot;videos-slider__featured-video__wrap&quot;&gt;
        &lt;div class=&quot;videos-slider__featured-video__wrap-player&quot;&gt;
          &lt;video id=&quot;featuredVideoEmbed&quot;
            data-video-id=&quot;{{playerid}}&quot;
            data-account=&quot;{{player_account}}&quot;
            data-player=&quot;{{playerkey}}&quot;
            data-embed=&quot;default&quot;
            class=&quot;video-js&quot;
            controls
            autoplay=&quot;false&quot;
            style=&quot;width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;&quot;&gt;
          &lt;/video&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;script src=&quot;//players.brightcove.net/{{player_account}}/{{playerkey}}_default/index.min.js&quot;&gt;&lt;/script&gt;
    {{/featured_video}}
    {{#hide_playlist}}
    &lt;div class=&quot;videos-slider__playlist&quot;&gt;
      {{#items}}
        &lt;div class=&quot;videos-slider__playlist-item&quot; data-video-id=&quot;{{url}}&quot; style=&quot;background-image: url({{image_url}});&quot;&gt;
          &lt;div class=&quot;videos-slider__playlist-item__info&quot;&gt;
            &lt;div class=&quot;videos-slider__playlist-item__category&quot;&gt;{{category}}&lt;/div&gt;
            &lt;div class=&quot;videos-slider__playlist-item__title&quot;&gt;{{title}}&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      {{/items}}
    &lt;/div&gt;
    {{/hide_playlist}}
  &lt;/div&gt;
{{/videos_slider}}
