{{#videos_slider}}
  &lt;div class=&quot;videos-slider&quot;&gt;
    &lt;div class=&quot;videos-slider__featured&quot;&gt;
      {{&gt; organisms-featured-topic }}
    &lt;/div&gt;
    &lt;div class=&quot;videos-slider__playlist&quot;&gt;
      {{#items}}
      {{/items}}
    &lt;/div&gt;
  &lt;/div&gt;
{{/videos_slider}}