{{#live_video_module }}
&lt;div class=&quot;live-video&quot;&gt;
  &lt;div class=&quot;live-video__interior&quot;&gt;
    &lt;div class=&quot;live-video__embed&quot;&gt;
      {{{video_embed}}}
    &lt;/div&gt;
    &lt;div class=&quot;live-video__title-wrap&quot;&gt;
      &lt;div class=&quot;live-video__category&quot;&gt;{{category}}&lt;/div&gt;
      &lt;div class=&quot;live-video__title&quot;&gt;{{title}}&lt;/div&gt;
      {{&gt; molecules-social-share }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
{{/live_video_module }}