&lt;div class=&quot;article__body{{#show_article_expand}} article__body--collapsed{{/show_article_expand}}&quot;&gt;

  {{#body}}
      {{! render the literal value of the body if it's not a structured array }}
      {{! This requires a patch to the Mustache Compiler - Or it will print as 'Array'
      see -- pattern-lab/patches/fix-printing-array-value.diff}}

      {{{body}}}

      {{&gt; organisms-article-text }}

      {{&gt; organisms-content-list }}

  {{/body}}
&lt;/div&gt;