{{#link_lists}}
&lt;div class=&quot;link-list&quot;&gt;
  &lt;div class=&quot;link-list__title&quot;&gt;{{list_title}}&lt;/div&gt;
    &lt;ul class=&quot;link-list__container&quot;&gt;
      {{#links}}
      &lt;li class=&quot;link-list__item&quot;&gt;
        {{^ad_div}}
          &lt;a href=&quot;{{url}}&quot;&gt;{{link_text}}&lt;/a&gt;
        {{/ad_div}}
        {{#ad_div}}
          &lt;div id=&quot;subscribe_ad_global_footer&quot;&gt;&lt;/div&gt;
        {{/ad_div}}
      &lt;/li&gt;
      {{/links}}
    &lt;/ul&gt;
&lt;/div&gt;
{{/link_lists}}