{{#link_lists}}
&lt;div class=&quot;link-list&quot;&gt;
  &lt;div class=&quot;link-list__title&quot;&gt;{{list_title}}&lt;/div&gt;
    &lt;ul class=&quot;link-list__container&quot;&gt;
      {{#links}}
      &lt;li class=&quot;link-list__item&quot;&gt;&lt;a href=&quot;{{url}}&quot;&gt;{{link_text}}&lt;/a&gt;&lt;/li&gt;
      {{/links}}
    &lt;/ul&gt;
&lt;/div&gt;
{{/link_lists}}